@model IEnumerable<catalogo.Models.ControleCadastro>

@{
    ViewData["Title"] = "Index";
}

<h1>Home</h1>

<p>
    <a asp-action="NovoCadastro" class="btn btn-primary">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endereco)
            </td>
            <td class="d-flex">
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-primary mx-2">Editar</a> 
                <form asp-action="Excluir" asp-route-id="@item.id">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
